In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser1 = Series(np.arange(3), index=['A', 'B', 'C'])

In [5]:
ser1 = 2*ser1

In [6]:
ser1

A    0
B    2
C    4
dtype: int64

In [7]:
ser1['B']

2

In [8]:
ser1[1]

2

In [9]:
ser1[0:3]

A    0
B    2
C    4
dtype: int64

In [10]:
ser1[['A', 'B']]

A    0
B    2
dtype: int64

In [11]:
ser1[ser1>3]

C    4
dtype: int64

In [12]:
ser1[ser1>3] = 10

In [13]:
ser1

A     0
B     2
C    10
dtype: int64

In [16]:
dframe = DataFrame(np.arange(25).reshape((5,5)), index=['NYC','LA','SF','DC','Chi'], columns=['A','B','C','D','E'])

In [18]:
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [19]:
dframe['B']

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int64

In [20]:
dframe[['B','C']]

      B   C
NYC   1   2
LA    6   7
SF   11  12
DC   16  17
Chi  21  22

In [21]:
dframe[dframe['C']>8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [22]:
dframe>10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [23]:
dframe.loc['LA']

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64

In [24]:
dframe.iloc[1]

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64