In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [8]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [11]:
dframe

       col1      col2      col3      col4      col5
A  1.375794  0.706691 -0.189457  2.443027  1.281422
B -0.500993 -0.018987  0.458752  1.600425  0.315079
D -0.155265 -0.807044  1.805914  1.233832 -0.953289
E  0.121748 -1.638301 -0.151492 -0.454627  1.079868
F  0.275982 -0.933348  1.601138  0.383195  0.309870

In [12]:
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)

In [13]:
dframe2

       col1      col2      col3      col4      col5
A  1.375794  0.706691 -0.189457  2.443027  1.281422
B -0.500993 -0.018987  0.458752  1.600425  0.315079
C       NaN       NaN       NaN       NaN       NaN
D -0.155265 -0.807044  1.805914  1.233832 -0.953289
E  0.121748 -1.638301 -0.151492 -0.454627  1.079868
F  0.275982 -0.933348  1.601138  0.383195  0.309870

In [14]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.375794  0.706691 -0.189457  2.443027  1.281422   NaN
B -0.500993 -0.018987  0.458752  1.600425  0.315079   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.155265 -0.807044  1.805914  1.233832 -0.953289   NaN
E  0.121748 -1.638301 -0.151492 -0.454627  1.079868   NaN
F  0.275982 -0.933348  1.601138  0.383195  0.309870   NaN

In [15]:
dframe

       col1      col2      col3      col4      col5
A  1.375794  0.706691 -0.189457  2.443027  1.281422
B -0.500993 -0.018987  0.458752  1.600425  0.315079
D -0.155265 -0.807044  1.805914  1.233832 -0.953289
E  0.121748 -1.638301 -0.151492 -0.454627  1.079868
F  0.275982 -0.933348  1.601138  0.383195  0.309870

In [17]:
dframe.reindex(index=new_index, columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.375794  0.706691 -0.189457  2.443027  1.281422   NaN
B -0.500993 -0.018987  0.458752  1.600425  0.315079   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.155265 -0.807044  1.805914  1.233832 -0.953289   NaN
E  0.121748 -1.638301 -0.151492 -0.454627  1.079868   NaN
F  0.275982 -0.933348  1.601138  0.383195  0.309870   NaN