In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser = Series(np.random.randn(6), index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
ser

1  a   -0.011691
   b   -0.064820
   c    2.006168
2  a   -1.203587
   b    0.452209
   c   -1.500118
dtype: float64

In [4]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [5]:
ser[1]

a   -0.011691
b   -0.064820
c    2.006168
dtype: float64

In [6]:
ser[2]

a   -1.203587
b    0.452209
c   -1.500118
dtype: float64

In [7]:
ser[:,'a']

1   -0.011691
2   -1.203587
dtype: float64

In [8]:
dframe = ser.unstack()

In [9]:
dframe

          a         b         c
1 -0.011691 -0.064820  2.006168
2 -1.203587  0.452209 -1.500118

In [10]:
dframe.unstack()

a  1   -0.011691
   2   -1.203587
b  1   -0.064820
   2    0.452209
c  1    2.006168
   2   -1.500118
dtype: float64

In [11]:
dframe.T.unstack()

1  a   -0.011691
   b   -0.064820
   c    2.006168
2  a   -1.203587
   b    0.452209
   c   -1.500118
dtype: float64

In [14]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [15]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [16]:
dframe2.index.names = ['INDEX_1','INDEX_2']

In [17]:
dframe2

                  NY      LA   SF
                cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [18]:
dframe2.columns.names = ['Cities', 'Temp']

In [20]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [22]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [24]:
dframe2.sort_index(level='INDEX_2')

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [25]:
dframe2.sort_index(level='INDEX_2').sort_index(level='INDEX_1')

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [26]:
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27