In [4]:
import pandas as pd

In [2]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [5]:
dframe_list = pd.io.html.read_html(url)

In [10]:
dframe = dframe_list[0]

In [12]:
dframe

                             Bank Name  ...       Closing Date
0                 The First State Bank  ...      April 3, 2020
1                   Ericson State Bank  ...  February 14, 2020
2     City National Bank of New Jersey  ...   November 1, 2019
3                        Resolute Bank  ...   October 25, 2019
4                Louisa Community Bank  ...   October 25, 2019
..                                 ...  ...                ...
556                 Superior Bank, FSB  ...      July 27, 2001
557                Malta National Bank  ...        May 3, 2001
558    First Alliance Bank & Trust Co.  ...   February 2, 2001
559  National State Bank of Metropolis  ...  December 14, 2000
560                   Bank of Honolulu  ...   October 13, 2000

[561 rows x 6 columns]

In [13]:
dframe.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'],
      dtype='object')