In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')
!cp /content/drive/My\ Drive/Colab\ Notebooks/learning.datascience/Lec_28_test.xlsx .

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
dframe = pd.read_excel('Lec_28_test.xlsx', sheet_name='Sheet1')

In [5]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365