In [1]:
import numpy as np
from pandas import DataFrame

In [2]:
dframe = DataFrame(np.arange(4*4).reshape((4,4)))

In [3]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
blender = np.array([0,3,2,1])

In [7]:
dframe.take(blender)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11
1   4   5   6   7

In [8]:
blender = np.random.permutation(4)

In [9]:
blender

array([2, 1, 3, 0])

In [10]:
box = np.array(['A','B','C'])

In [11]:
box

array(['A', 'B', 'C'], dtype='<U1')

In [12]:
shaker = np.random.randint(0,len(box),size=10)

In [13]:
shaker

array([2, 0, 0, 1, 0, 1, 2, 2, 0, 2])

In [15]:
hand_grabs = box.take(shaker)

In [16]:
hand_grabs

array(['C', 'A', 'A', 'B', 'A', 'B', 'C', 'C', 'A', 'C'], dtype='<U1')